.pay{
        position: absolute;
        left: 20%;
        top: 20%;
        width: 500px;
        color: white;
        background: rgb(9, 14, 19);
        text-align: center;
        padding: 20px;
        border-radius: 10px;
    .Label{
        color: white !important;
    }
    .p-FieldLabel{
        color: white !important;
    }
 }